html, body {
  margin: 0;
  padding: 0;
}

body{
  /* background: #000;
  color: #fff; */
  /* background-image: linear-gradient(to top, #d6d3d1 0%, #e5e5e5 1%, #f1f5f9 100%); */
}

.avatar-glow{
  -webkit-box-shadow:0px 0px 101px 4px rgba(169,85,247,0.46);
  -moz-box-shadow: 0px 0px 101px 4px rgba(169,85,247,0.46);
  box-shadow: 0px 0px 101px 4px rgba(169,85,247,0.46);
}

h2.intro {
  font-size: 3.75rem;
}
h2.intro span{
  background: -webkit-linear-gradient(#fff, #1e3a8a, #172554);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.home-bg {
  height: calc(100vh - 80px);
  /* background: #b8bedd93; */
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid #b8bedd;
  background-image: linear-gradient(to top, #d5d4d0 0%, #d5d4d0 1%, #eeeeec 31%, #efeeec 75%, #e9e9e7 100%);
}

