html, body {
  margin: 0;
  padding: 0;
}

body{
  background-image: linear-gradient(to left, #01498d 0%, #ee35ff 100%);
  color: #fff;
}
.avatar-glow{
  -webkit-box-shadow:0px 0px 27px 11px #a855f7 ;
  -moz-box-shadow: 0px 0px 27px 11px #a855f7 ;
  box-shadow: 0px 0px 27px 11px #a855f7 ;
}

#home .about.name {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid #9333ea; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  letter-spacing: .15em; /* Adjust as needed */
  font-size: 1.75rem;
  color: #9333ea;
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #9333ea; }
}
#home .about.role {
  font-size: 2.25rem;
}
.home-bg {
  height: calc(100vh - 80px);
  background: #181818dc;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid #c2c2c2;
}
/* 11 */
.btn {
  border: 1px solid #9333ea;
  color: #cccbcb;
  box-shadow: 0 0 5px #9333ea, 0 0 5px #9333ea inset;
  transition: all 0.3s ease;
  padding: 8px 12px;
  cursor: pointer;
}
.btn.secondary-btn:hover{
  color: white;
  text-shadow:
  0 0 20px #9333ea,
  0 0 50px #9333eae6,
  0 0 75px #9333eacc,
  0 0 76px #9333eab3,
  0 0 77px #9333ea99,
  0 0 78px #9333ea80,
  0 0 79px #9333ea66,
  0 0 80px #9333ea4d,
  0 0 85px #9333ea33,
  0 0 99px #9333ea1a;
}
.btn.primary-btn:hover{
  background-color: #9333ea;
  color: white;
  text-shadow:
  0 0 20px #9333ea,
  0 0 50px #9333eae6,
  0 0 75px #9333eacc,
  0 0 76px #9333eab3,
  0 0 77px #9333ea99,
  0 0 78px #9333ea80,
  0 0 79px #9333ea66,
  0 0 80px #9333ea4d,
  0 0 85px #9333ea33,
  0 0 99px #9333ea1a;
}
.home-bg .avatar-glow{
    width: 300px;
    animation: img 8s ease-in-out infinite;
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
}
@keyframes img{
    0%{
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
    50%{
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%
    }
    100%{
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
}
         

